<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Document</title>
</head>
<body>
	  <div class="container-fluid bg-dark">
		  <div class="row">
			   <h2 class="text text-light">Customer</h2>
       
		  </div>
       
    </div>
     
     <div class="container">
       <a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3 mt-4">Add Customer</a>
    <table class="table table-striped table-responsive-md">
		<tr>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Gender</th>
				<th>Actions</th>
			</thead>
		</tr>
		<tbody>
			<tr th:each="customer:${allcustlist}">
				<td th:text="${customer.firstName}"></td>
				<td th:text="${customer.lastName}"></td>
				<td th:text="${customer.email}"></td>
				<td th:text="${customer.phone}"></td>
				<td th:text="${customer.gender}"></td>
				<td><a th:href="@{updateemployee/{id} (id=${customer.id})}" class="btn btn-primary">Update</a>
				    <a th:href="@{deleteemployee/{id} (id=${customer.id})}" class="btn btn-danger" >Delete</a>
				    </td>
			</tr>
		</tbody>
	</table>
	</div>
</body>
</html>